{% extends 'index.html' %}
{% block content %}
{% load static %}
{% include 'mensagem.html' %}

<style>
    html {
        scroll-behavior: smooth;
    }
</style>

<script src="https://kit.fontawesome.com/b29340f9a2.js"></script>

<div id="fullpage" class="fullpage-default">
    {% for i in queryset %}
    <div class="section animated-row my-5 my-md-0">
        <div class="section-inner">
            <div class="about-section mt-5">
                <div class="row justify-content-center mt-5 mt-md-0">
                    <div class="col-lg-8 wide-col-laptop">
                        <div class="row" style="padding-left: 10px;padding-right: 10px;">
                            <img src="{{ i.imagem.url }}"  class="rounded" width="470px" height="510px">
                            <div class="col-md-6">
                                <div class="about-contentbox" style="margin-top:0">
                                    <div class="animate ml-0 ml-md-5 mt-3 mt-md-0" data-animate="fadeInUp" >
                                        <span>{{ i.campanha }}</span>
                                        <div style="text-align: justify;text-justify: inter-word">
                                            <p>{{ i.descricao|safe }}</p>
                                            <hr style="border-color: white">
                                            <p>{{ i.informacoes|safe }}</p>
                                        </div>
                                    </div>
                                    <a href="cadastrar-contato/{{ i.id }}" data-animate="fadeInUp" class="btn mt-2" style="float: right;">Fale Conosco</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not forloop.last %}
                    <div class="scroll-down next-section animate d-none d-md-block" data-animate="fadeInUp" style="bottom: 0px">
                        <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("header").style.top = "0";
        } else {
            document.getElementById("header").style.top = "-80px";
        }
        prevScrollpos = currentScrollPos;
    }
</script>

{% endblock content %}